@charset "UTF-8";
/*font*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,500;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,500;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*icon*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");
/*card styles*/
.contenedor {
  width: 90%;
  max-width: 1000px;
  padding: 40px 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ---------- Estilos Generales de las Tarjetas ----------*/
.tarjeta {
  width: 100%;
  max-width: 550px;
  position: relative;
  color: #fff;
  transition: 0.3s ease all;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  cursor: pointer;
  z-index: 2;
}

.tarjeta.active {
  transform: rotateY(180deg);
}

.tarjeta > div {
  padding: 30px;
  border-radius: 15px;
  min-height: 315px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 10px 10px 0 rgba(90, 116, 148, 0.3);
}

/* ---------- Tarjeta Delantera ----------*/
.tarjeta .delantera {
  width: 100%;
  background: url(../img/bg-tarjeta/bg-tarjeta-02.jpg);
  background-size: cover;
}

.delantera .logo-marca {
  text-align: right;
  min-height: 50px;
}

.delantera .logo-marca img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 80px;
}

.delantera .chip {
  width: 100%;
  max-width: 50px;
  margin-bottom: 20px;
}

.delantera .grupo .label {
  font-size: 16px;
  color: #7d8994;
  margin-bottom: 5px;
}

.delantera .grupo .numero,
.delantera .grupo .nombre,
.delantera .grupo .expiracion {
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
}

.delantera .flexbox {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* ---------- Tarjeta Trasera ----------*/
.trasera {
  background: url(../img/bg-tarjeta/bg-tarjeta-02.jpg);
  background-size: cover;
  position: absolute;
  top: 0;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.trasera .barra-magnetica {
  height: 40px;
  background: #000;
  width: 100%;
  position: absolute;
  top: 30px;
  left: 0;
}

.trasera .datos {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.trasera .datos p {
  margin-bottom: 5px;
}

.trasera .datos #firma {
  width: 70%;
}

.trasera .datos #firma .firma {
  height: 40px;
  background: repeating-linear-gradient(skyblue 0, skyblue 5px, orange 5px, orange 10px);
}

.trasera .datos #firma .firma p {
  line-height: 40px;
  font-family: "Liu Jian Mao Cao", cursive;
  color: #000;
  font-size: 30px;
  padding: 0 10px;
  text-transform: capitalize;
}

.trasera .datos #ccv {
  width: 20%;
}

.trasera .datos #ccv .ccv {
  background: #fff;
  height: 40px;
  color: #000;
  padding: 10px;
  text-align: center;
}

.trasera .leyenda {
  font-size: 14px;
  line-height: 24px;
}

.trasera .link-banco {
  font-size: 14px;
  color: #fff;
}

/* ---------- Contenedor Boton ----------*/
.contenedor-btn .btn-abrir-formulario {
  width: 50px;
  height: 50px;
  font-size: 20px;
  line-height: 20px;
  background: #2364d2;
  color: #fff;
  position: relative;
  top: -25px;
  z-index: 3;
  border-radius: 100%;
  box-shadow: -5px 4px 8px rgba(24, 56, 182, 0.4);
  padding: 5px;
  transition: all 0.2s ease;
  border: none;
  cursor: pointer;
}

.contenedor-btn .btn-abrir-formulario:hover {
  background: #1850b1;
}

.contenedor-btn .btn-abrir-formulario.active {
  transform: rotate(45deg);
}

/* ---------- Formulario Tarjeta ----------*/
.formulario-tarjeta {
  background: #fff;
  width: 100%;
  max-width: 700px;
  padding: 150px 30px 30px 30px;
  border-radius: 10px;
  position: relative;
  top: -150px;
  z-index: 1;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: -webkit-clip-path 0.3s ease-out;
  transition: clip-path 0.3s ease-out;
  transition: clip-path 0.3s ease-out, -webkit-clip-path 0.3s ease-out;
}

.formulario-tarjeta.active {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.formulario-tarjeta label {
  display: block;
  color: #7d8994;
  margin-bottom: 5px;
  font-size: 16px;
}

.formulario-tarjeta input,
.formulario-tarjeta select,
.btn-enviar {
  border: 2px solid #CED6E0;
  font-size: 18px;
  height: 50px;
  width: 100%;
  padding: 5px 12px;
  transition: 0.3s ease all;
  border-radius: 5px;
}

.formulario-tarjeta input:hover,
.formulario-tarjeta select:hover {
  border: 2px solid #93BDED;
}

.formulario-tarjeta input:focus,
.formulario-tarjeta select:focus {
  outline: rgb(4, 4, 4);
  box-shadow: 1px 7px 10px -5px rgba(90, 116, 148, 0.3);
}

.formulario-tarjeta input {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.formulario-tarjeta .flexbox {
  display: flex;
  justify-content: space-between;
}

.formulario-tarjeta .expira {
  width: 100%;
}

.formulario-tarjeta .ccv {
  min-width: 100px;
}

.formulario-tarjeta .grupo-select {
  width: 100%;
  margin-right: 15px;
  position: relative;
}

.formulario-tarjeta select {
  -webkit-appearance-: none;
}

.formulario-tarjeta .grupo-select i {
  position: absolute;
  color: #CED6E0;
  top: 18px;
  right: 15px;
  transition: 0.3s ease all;
}

.formulario-tarjeta .grupo-select:hover i {
  color: #93bfed;
}

.formulario-tarjeta .btn-enviar {
  border: none;
  padding: 10px;
  font-size: 22px;
  color: #fff;
  background: #2364d2;
  box-shadow: 2px 2px 10px 0px rgba(0, 85, 212, 0.4);
  cursor: pointer;
}

.formulario-tarjeta .btn-enviar:hover {
  background: #1850b1;
}

body {
  font-family: "montserrat", sans-serif;
  background: linear-gradient(0deg, rgb(244, 244, 244) 50%, rgb(148, 187, 233) 100%);
}

body::-webkit-scrollbar {
  width: 10px;
  background: rgb(43, 43, 43);
}

body::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 5px;
}
body::-webkit-scrollbar-thumb :hover {
  background: white;
}

/*margenes ext e int*/
.mt-max {
  margin-top: 5.5rem;
}

/*fuente*/
.fs-7 {
  font-size: 11pt;
}

p {
  font-size: 10pt;
}

/*imagen de fondo*/
.bg-cover {
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/74549b105884587.5f836c7183942.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*tamaño de la ventana*/
.win-size {
  width: 100%;
  height: 100vh;
}

/*tamaño del modulo de entrada*/
.win-log {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: auto;
}

/*efecto*/
.blur {
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}

.blur2 {
  background-color: rgba(129, 129, 129, 0.3);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.invert,
.invert img {
  filter: invert(100);
}

.mirror {
  transform: scaleX(-1);
}

/* imagen size */
.cover-big {
  width: auto;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.cover-min {
  width: auto;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.cover-med {
  width: auto;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.rounded-var {
  border-radius: 2rem;
}

/* carrito de compras*/
.container-icon {
  position: relative;
}

.container-cart-products {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  width: 400px;
  z-index: 1;
}

#contador-productos {
  font-size: 12px;
  font-style: normal;
  font-weight: bolder;
}

.cart-product {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.info-cart-product {
  display: flex;
  justify-content: space-around;
  flex: 0.8;
  align-items: center;
}

.cart-total {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* breakpoints*/
@media (min-width: 320px) {
  .mt-sm-8 {
    margin-top: 5rem;
  }
  .cover-big {
    width: auto;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50%;
       object-position: 50%;
  }
  .cover-med {
    width: auto;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50%;
       object-position: 50%;
  }
  .cover-min {
    width: auto;
    height: 150px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50%;
       object-position: 50%;
  }
  .justify-content-sm-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
  }
  .container-cart-products {
    position: absolute;
    top: 50px;
    right: -110px;
    background-color: rgb(255, 255, 255);
    width: 350px;
    z-index: 1;
  }
}
.rounded-var {
  border-radius: 1rem;
}

@media (min-width: 768px) {
  .mt-md-8 {
    margin-top: 5rem;
  }
  .cover-big {
    width: auto;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50%;
       object-position: 50%;
  }
  .cover-med {
    width: auto;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50%;
       object-position: 50%;
  }
  .cover-min {
    width: auto;
    height: 150px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50%;
       object-position: 50%;
  }
  .rounded-var {
    border-radius: 1.5rem;
  }
}
@media (min-width: 1400px) {
  .mt-md-8 {
    margin-top: 5rem;
  }
  .cover-big {
    width: auto;
    height: 600px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50%;
       object-position: 50%;
  }
  .cover-med {
    width: auto;
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50%;
       object-position: 50%;
  }
  .cover-min {
    width: auto;
    height: 240px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50%;
       object-position: 50%;
  }
  .rounded-var {
    border-radius: 2rem;
  }
  .container-cart-products {
    position: absolute;
    top: 50px;
    right: 0px;
    background-color: rgb(255, 255, 255);
    width: 350px;
    z-index: 1;
  }
}/*# sourceMappingURL=style.css.map */